@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin 'flowbite/plugin';
@plugin '@egoist/tailwindcss-icons';
@source '../../node_modules/flowbite';
@source '../../node_modules/flowbite-datepicker';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: oklch(0.95 0.245 262.881);
  --color-primary-100: oklch(0.9 0.245 262.881);
  --color-primary-200: oklch(0.8 0.245 262.881);
  --color-primary-300: oklch(0.7 0.245 262.881);
  --color-primary-400: oklch(0.6 0.245 262.881);
  --color-primary-500: oklch(0.5 0.245 262.881);
  --color-primary-600: oklch(0.4 0.245 262.881);
  --color-primary-700: oklch(0.3 0.245 262.881);
  --color-primary-800: oklch(0.2 0.245 262.881);
  --color-primary-900: oklch(0.1 0.245 262.881);
  --color-primary-950: oklch(0.05 0.245 262.881);
  --color-gray-50: oklch(0.95 0.033 256.848);
  --color-gray-100: oklch(0.9 0.033 256.848);
  --color-gray-200: oklch(0.8 0.033 256.848);
  --color-gray-300: oklch(0.7 0.033 256.848);
  --color-gray-400: oklch(0.6 0.033 256.848);
  --color-gray-500: oklch(0.5 0.033 256.848);
  --color-gray-600: oklch(0.4 0.033 256.848);
  --color-gray-700: oklch(0.3 0.033 256.848);
  --color-gray-800: oklch(0.2 0.033 256.848);
  --color-gray-900: oklch(0.1 0.033 256.848);
  --color-gray-950: oklch(0.05 0.033 256.848);
}
